---
// src/layouts/Layout.astro
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
    hideHeader?: boolean; // Новый проп
}

const { title, description = "Авторская керамика.", hideHeader = false } = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Добавил Caveat для рукописных заметок -->
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

		<title>{title} | Hyle Ceramics</title>
	</head>
	<body class="flex flex-col min-h-screen antialiased selection:bg-hyle-clay/20 selection:text-hyle-text">
		
        {!hideHeader && <Header />}
		
        <main class="flex-grow w-full">
			<slot />
		</main>

        {!hideHeader && <Footer />}
	</body>
</html>